<section id ="fish_info">
  <h1><%=@raised_type['raised_type']%></h1>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Fish Name</th>
        <th>Stock</th>
        <th>Raised Type</th>
        <th>Water Type</th>
        <th></th>
      </tr>
    </thead>
      <tbody>
        <% @raised_type.fishs.each do |f| %>
          <tr>
            <td><%= f['id'] %></td>
            <td><%= f['fish_name'] %></td>
            <td><%= f['stock'] %></td>
            <td><%= f.water['water_type'] %></td>
            <td><%= f.raised_type['raised_type'] %></td>
            <td><a href = "/fish/index/<%=f.id%>">View More Info.</a></td>
          </tr>
        <% end %>
    </tbody>
  </table>
</section>



