<details>
  <summary>
    <%= link_to image_tag("clown-fish.png", width:50), cart_shop_path  %>
    <% if cart.present? %>
      <sup><%= cart.size %></sup>
    <% end %>
  </summary>
    <% if cart.present? %>
      <% cart.each do |fish| %>
        <li>
          <%= fish.fish_name %><%= button_to 'X', cart_path(fish), method: :delete %>
        </li>
      <% end %>
    <% else %>
      <p>
        No items in your cart.
      </p>
    <% end %>
  <% if flash[:notice] %>
    <p>
      <%= flash[:notice]%>
    </p>
  <% end %>
</details>