<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>User's Name</th>
      <th>Size</th>
      <th>Stock</th>
      <th>Water Type</th>
      <th>Raised Type</th>
      <th></th>
    </tr>
  </thead>
    <tbody>
      <% @order.each do |o| %>
        <tr>
          <td><%= o['id'] %></td>
          <td><%= o.user['first_name'] %> <%= o.user['last_name'] %></td>
          <td><%= o['total_cost'] %></td>
          <td><%= o['payment_status'] %></td>
        </tr>
      <% end %>
  </tbody>
</table>
