<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>User's Name</th>
      <th>Ordered Fish</th>
      <th>Total Cost</th>
      <th>Payment Status</th>
      <th>GST</th>
      <th>PST</th>
      <th>HST</th>
    </tr>
  </thead>
    <tbody>
      <% @orders.each do |o| %>
        <tr>
          <td><%= o['id'] %></td>
          <td><%= o.user['first_name'] %> <%= o.user['last_name'] %></td>
          <td>
            <% o.fish_orders.each do |f|%>
              ||&nbsp;&nbsp;&nbsp;<%=f.fish['fish_name']%>&nbsp;&nbsp;&nbsp;||
            <% end %>
          </td>
          <td><%= o['gst'] %></td>
          <td><%= o['pst'] %></td>
          <td><%= o['hst'] %></td>
          <td><%= o['total_cost'] %></td>
          <td><%= o['payment_status'] %></td>
        </tr>
      <% end %>
  </tbody>
</table>
