<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://js.stripe.com/v3"></script>
  </head>
  <body>
    <header>
      <details>
        <summary>
          <%= link_to image_tag("clown-fish.png", width:50), cart_shop_path  %>
          <% if cart.present? %>
            <sup><%= cart.size %></sup>
          <% end %>
        </summary>
          <% if cart.present? %>
            <% cart.each do |fish| %>
              <li>
                <%= fish.fish_name %><%= button_to 'X', cart_path(fish), method: :delete %>
              </li>
            <% end %>
          <% else %>
            <p>
              No items in your cart.
            </p>
          <% end %>
        <% if flash[:notice] %>
          <p>
            <%= flash[:notice]%>
          </p>
        <% end %>
      </details>

      <% if user_login_signed_in? %>
        <%= button_to "Log off", destroy_user_login_session_path, method: :delete, data: { turbo_method: :delete } %>
      <% else %>
        <%= button_to "Login", new_user_login_session_path %>
      <% end %>

      <h1><a href = "/">Winnipeg Fish & Fins</a></h1>

      <ul id ="menu">
        <li><a href = "/">Home</a></li>
        <li><a href = "/fish/about">About</a></li>
        <li><a href = "/fish/index">Fish</a></li>
        <% if user_login_signed_in? %>
          <li><a href = "/order/index">Orders</a></li>
        <% end %>
        <li><a href = "/admin/login">Admin Access</a></li>
      </ul>
    </header>
    <%= yield %>
  </body>
  <footer>
    <%= render partial: 'footer'%>
  </footer>
</html>
