<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://js.stripe.com/v3"></script>
  </head>
  <body>
    <header>
      <%= render partial: 'shared/cart'%>

      <%= render partial: 'shared/login'%>

      <h1><a href = "/">Winnipeg Fish & Fins</a></h1>

      <%= render partial: 'shared/nav_header'%>

    </header>
    <%= yield %>
  <footer>
    <% if %>
      <%= render partial: 'shared/footer'%>
    <% end%>
  </footer>
  </body>
</html>
